@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000000;
  height: 100%;
  background: linear-gradient(to right, #000000 50%, #000000 50%) fixed;
}

.container {
  background: #fff;
  width: 400px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 15px 30px 35px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.stats {
  text-align: right;
  color: #101020;
  font-weight: 500;
  line-height: 25px;
}

.coin {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 50px auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.tails {
  transform: rotateX(180deg);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.coin img {
  width: 145px;
}

.heads,
.tails {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#heads-count,
#tails-count {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

button {
  width: 145px;
  padding: 10px 0;
  border: 2.5px solid #000000;
  border-radius: 50px;
  cursor: pointer;
}

#flip-button {
  background: #424ae0;
  color: #fff;
}

#flip-button:disabled {
  background-color: #e1e0ee;
  color: #101020;
  border-color: #e1e0ee;
}

#reset-button {
  background: #fff;
  background-color: #ff0000;
  color: #ffffff;
}

.footer {
  text-align: center;
  color: #ffffff;
  padding: 20px;
  background-color: #000000;
  margin-top: auto;
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(1980deg);
  }
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(2160deg);
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content-wrapper {
  flex: 1;
}

.footer {
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-size: 16px;
  font-weight: 600;
}
